//全域變數

.form-block{margin-bottom:20px;}

.table-box{
    margin-top:50px;font-size:0.8rem;/*overflow:auto;max-height:600px;*/
    .table{
        /*min-width:100vw;*/
        th, td{text-align:center;}
    }
}