<!DOCTYPE html>
<html lang="zh-TW" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>高鐵查詢資料</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="Public/Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="Public/Style/Layout.css" />
    <!--[if lt IE 9 ]><script src="Shared/html5/html5shiv.js"></script><![endif]-->
</head>
<body>
    <div id="THRSApp" class="container">
        <div class="form-block">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>車站列表</label>
                    <select class="form-control" v-model="StationSelect">
                        <option v-for="Option in StationOption" v-bind:value="Option.StationID">{{ Option.StationName.Zh_tw }}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>指定日期</label>
                    <input v-model="StationDate" type="text" class="form-control" placeholder="格式：2018-01-13" />
                </div>
                <!--<div class="form-group col-md-4">
                    <label>顯示筆數</label>
                    <select class="form-control" v-model="StationTopSelect">
                        <option v-for="TopOption in StationTopOption" v-bind:value="TopOption.Num">{{ TopOption.Name }}</option>
                    </select>
                </div>-->
                <input v-on:click="DailyTimetableBtn" type="button" class="btn btn-primary" value="取得指定日期、指定車站的時刻表" />
            </div>
        </div>
        <div class="form-block">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>起站列表</label>
                    <select class="form-control" v-model="SpecifiedStartSelect">
                        <option v-for="Option in SpecifiedStartOption" v-bind:value="Option.StationID">{{ Option.StationName.Zh_tw }}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>迄站列表</label>
                    <select class="form-control" v-model="SpecifiedEndSelect">
                        <option v-for="Option in SpecifiedEndOption" v-bind:value="Option.StationID">{{ Option.StationName.Zh_tw }}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>指定日期</label>
                    <input v-model="SpecifiedDate" type="text" class="form-control" placeholder="格式：2018-01-13" />
                </div>
                <div class="form-group col-md-3">
                    <label>排序</label>
                    <select class="form-control" v-model="TimeSortSelect">
                        <option v-for="Option in TimeSortOption" v-bind:value="Option.Val">{{ Option.Name }}</option>
                    </select>
                </div>
                <!--<div class="form-group col-md-2">
                    <label>顯示筆數</label>
                    <select class="form-control" v-model="SpecifiedTopSelect">
                        <option v-for="TopOption in StationTopOption" v-bind:value="TopOption.Num">{{ TopOption.Name }}</option>
                    </select>
                </div>-->
                <input v-on:click="GeneralTimetableBtn" type="button" class="btn btn-primary" value="取得指定日期、指定時間(出發或到達)的車次" />
            </div>
        </div>
        <div class="form-block">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>車次列表</label>
                    <select class="form-control" v-model="CarTripsSelect">
                        <option v-for="Option in CarTripsOption" v-bind:value="Option.GeneralTimetable.GeneralTrainInfo.TrainNo">【{{ Option.GeneralTimetable.GeneralTrainInfo.TrainNo }}】-【{{ Option.GeneralTimetable.GeneralTrainInfo.StartingStationName.Zh_tw
                            }}】到【{{ Option.GeneralTimetable.GeneralTrainInfo.EndingStationName.Zh_tw }}】</option>
                    </select>
                </div>
                <input v-on:click="CarTripsBtn" type="button" class="btn btn-primary" value="取得指定車次的時刻表" />
            </div>
        </div>
        <div class="table-box">
            <table class="table table-dark">
                <thead>
                    <tr v-for="item in DailyTimeTableThead">
                        <th>{{ item.TrainDate }}</th>
                        <th>{{ item.StationID }}</th>
                        <th>{{ item.StationName }}</th>
                        <th>{{ item.TrainNo }}</th>
                        <th>{{ item.Direction }}</th>
                        <th>{{ item.StartingStationID }}</th>
                        <th>{{ item.StartingStationName }}</th>
                        <th>{{ item.EndingStationID }}</th>
                        <th>{{ item.EndingStationName }}</th>
                        <th>{{ item.ArrivalTime }}</th>
                        <th>{{ item.DepartureTime }}</th>
                    </tr>
                    <tr v-for="item in DailyTimeTableSpecifiedThead">
                        <th>{{ item.StopSequence }}</th>
                        <th>{{ item.TrainNo }}</th>
                        <th>{{ item.OriginStationID }}</th>
                        <th>{{ item.OriginStationName }}</th>
                        <!--<th>{{ item.OriginArrivalTime }}</th>-->
                        <th>{{ item.OriginDepartureTime }}</th>
                        <th>{{ item.DestinationStationID }}</th>
                        <th>{{ item.DestinationStationName }}</th>
                        <th>{{ item.DestinationArrivalTime }}</th>
                        <!--<th>{{ item.DestinationDepartureTime }}</th>-->
                        <th>{{ item.TimeInterval }}</th>
                        <th>{{ item.Direction }}</th>
                        <th>{{ item.Note }}</th>
                    </tr>
                    <tr v-for="item in CarTripsThead">
                        <th>{{ item.StopSequence }}</th>
                        <th>{{ item.StationID }}</th>
                        <th>{{ item.StationName }}</th>
                        <th>{{ item.DepartureTime }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in DailyTimeTableTbody">
                        <td>{{ item.TrainDate }}</td>
                        <td>{{ item.StationID }}</td>
                        <td>{{ item.StationName.Zh_tw }}</td>
                        <td>{{ item.TrainNo }}</td>
                        <td>{{ item.Direction }}</td>
                        <td>{{ item.StartingStationID }}</td>
                        <td>{{ item.StartingStationName }}</td>
                        <td>{{ item.EndingStationID }}</td>
                        <td>{{ item.EndingStationName }}</td>
                        <td>{{ item.ArrivalTime }}</td>
                        <td>{{ item.DepartureTime }}</td>
                    </tr>
                    <tr v-for="item in DailyTimeTableSpecifiedTbody">
                        <td>{{ item.OriginStopTime.StopSequence }}</td>
                        <td>{{ item.DailyTrainInfo.TrainNo }}</td>
                        <td>{{ item.OriginStopTime.StationID }}</td>
                        <td>{{ item.OriginStopTime.StationName.Zh_tw }}</td>
                        <td>{{ item.OriginStopTime.ArrivalTime }}</td>
                        <!--<td>{{ item.OriginStopTime.DepartureTime }}</td>-->
                        <td>{{ item.DestinationStopTime.StationID }}</td>
                        <td>{{ item.DestinationStopTime.StationName.Zh_tw }}</td>
                        <td>{{ item.DestinationStopTime.ArrivalTime }}</td>
                        <!--<td>{{ item.DestinationStopTime.DepartureTime }}</td>-->
                        <td>{{ item.TimeInterval }}</td>
                        <td>{{ item.DailyTrainInfo.Direction }}</td>
                        <td>{{ item.DailyTrainInfo.Note }}</td>
                    </tr>
                    <tr v-for="item in CarTripsTbody">
                        <td>{{ item.StopSequence }}</td>
                        <td>{{ item.StationID }}</td>
                        <td>{{ item.StationName.Zh_tw }}</td>
                        <td>{{ item.DepartureTime }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="Public/Shared/Vue/vue.min.js"></script>
    <script src="Public/Shared/Vue/es6-promise.auto.min.js"></script>
    <script src="Public/Shared/Vue/axios.min.js"></script>
    <script src="Public/Shared/Vue/polyfill.min.js"></script>
    <script src="Public/Script/Core/CoreApp.js"></script>
    <script src="Public/Script/THRSApp.js"></script>
</body>
</html>
